.container {
  position: relative;
}

.img1 {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size:large;
  color:rgb(64, 226, 43);
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.img2{ position: absolute;
  top: 20px;
  left: 50px;
  font-size:large;
  color:blueviolet;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.img3{

  position: absolute;
  top: 20px;
  left: 50px;
  font-size:large;
  color:rgb(64, 226, 43);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.logoNav{

  border: 150px;
}

.root{
  background-color: cornflowerblue;
}

.drop-all> .nav-link{
border-bottom-left-radius: 5px;

border-top-left-radius: 5px;
border-right: 0;
border: 1px solid #ccc;
height: 38px;
padding: 10,2;

}

.me-2{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}